VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_API_URL=http://127.0.0.1:8000
VITE_SUPPORT_EMAIL=
VITE_SENTRY_DSN=
VITE_SENTRY_RELEASE=
VITE_SENTRY_TRACES_SAMPLE_RATE=0.05
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
